html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{
  margin:0; 
  padding:0; 
  border:0; 
  font-size:100%; 
  font:inherit; 
  vertical-align:baseline}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display:block}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, 
q:before, q:after{content:''; content:none}
ins{background-color:#ff9; color:#000; text-decoration:none}
mark{background-color:#ff9; color:#000; font-style:italic; font-weight:bold}
del{text-decoration:line-through}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help}
table{border-collapse:collapse; border-spacing:0}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}
input, select{vertical-align:middle}
body{font:13px/1.231 sans-serif; *font-size:small}
select, input, textarea, button{font:99% sans-serif}
pre, code, kbd, samp{font-family:monospace,sans-serif}
html{overflow-y:scroll}
a:hover, a:active{outline:none}
ul, ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul, nav li{margin:0; list-style:none; list-style-image:none}
small{font-size:85%}
strong, th{font-weight:bold}
td{vertical-align:top}
sub, sup{font-size:75%; line-height:0; position:relative}
sup{top:-0.5em}
sub{bottom:-0.25em}
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px}
textarea{overflow:auto}
.ie6 legend, .ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label, input[type="button"], input[type="submit"], input[type="image"], button{cursor:pointer}
button, input, select, textarea{margin:0}
input:valid, textarea:valid {}
input:invalid, textarea:invalid{border-radius:1px; -moz-box-shadow:0px 0px 5px red; -webkit-box-shadow:0px 0px 5px red; box-shadow:0px 0px 5px red}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#FF5E99; color:#fff; text-shadow:none}::selection{background:#FF5E99; color:#fff; text-shadow:none}
a:link{-webkit-tap-highlight-color:#FF5E99}
button{ width:auto; overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
body, select, input, textarea{ color:#444}
h1, h2, h3, h4, h5, h6{font-weight:bold}
a, a:active, a:visited{color:#607890}
a:hover{color:#036}
/* Table of Contents
==================================================
    #Base 1140 Grid    
    #960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait) 
    #Mobile (Landscape)
    
/* #Base 1140 Grid 
================================================== */
 .container {position:relative; width:1140px; margin:0 auto; padding:0}
 .row {margin-bottom:20px}

 .container .col1,  
 .container .col2,  
 .container .col3,  
 .container .col4,  
 .container .col5,  
 .container .col6,  
 .container .col7,  
 .container .col8,  
 .container .col9,  
 .container .col10,  
 .container .col11,  
 .container .col12 {float:left; display:inline; margin-left:15px; margin-right:15px} 
 .push_1, .pull_1, 
 .push_2, .pull_2, 
 .push_3, .pull_3, 
 .push_4, .pull_4, 
 .push_5, .pull_5, 
 .push_6, .pull_6, 
 .push_7, .pull_7, 
 .push_8, .pull_8, 
 .push_9, .pull_9, 
 .push_10, .pull_10, 
 .push_11, .pull_11, 
 .push_12, .pull_12, 
 .push_13, .pull_13, 
 .push_14, .pull_14, 
 .push_15, .pull_15 {position:relative}

 /* Nested col Classes */
 .alpha {margin-left:0}
 .omega {margin-right:0}
 
 /* Base Grid */
 .container .col1 {width:65px}
 .container .col2 {width:160px}
 .container .col3 {width:225px}
 .container .col4 {width:350px}
 .container .col5 {width:445px}
 .container .col6 {width:540px}
 .container .col7 {width:635px} 
 .container .col8 {width:730px}
 .container .col9 {width:825px}
 .container .col10 {width:920px} 
 .container .col11 {width:1015px} 
 .container .col12 {width:1110px}
 
 /* Push */
 .container .push_1 {left:95px}
 .container .push_2 {left:190px}
 .container .push_3 {left:285px}
 .container .push_4 {left:380px}
 .container .push_5 {left:475px}
 .container .push_6 {left:570px}
 .container .push_7 {left:665px}
 .container .push_8 {left:760px}
 .container .push_9 {left:855px}
 .container .push_10 {left:950px}
 .container .push_11 {left:1045px}
 
 /* Pull */
 .container .push_1 {left:-95px}
 .container .push_2 {left:-190px}
 .container .push_3 {left:-285px}
 .container .push_4 {left:-380px}
 .container .push_5 {left:-475px}
 .container .push_6 {left:-570px}
 .container .push_7 {left:-665px}
 .container .push_8 {left:-760px}
 .container .push_9 {left:-855px}
 .container .push_10 {left:-950px}
 .container .push_11 {left:-1045px}

 /* prefixs */ 
 .container .prefix1 {padding-left:95px}
 .container .prefix2 {padding-left:190px}
 .container .prefix3 {padding-left:285px}
 .container .prefix4 {padding-left:380px}
 .container .prefix5 {padding-left:475px}
 .container .prefix6 {padding-left:570px}
 .container .prefix7 {padding-left:665px}
 .container .prefix8 {padding-left:760px}
 .container .prefix9 {padding-left:855px}
 .container .prefix10 {padding-left:950px}
 .container .prefix11 {padding-left:1045px}
 
 /* suffix */
 .container .suffix1 {padding-right:95px}
 .container .suffix2 {padding-right:190px}
 .container .suffix3 {padding-right:285px}
 .container .suffix4 {padding-right:380px}
 .container .suffix5 {padding-right:475px}
 .container .suffix6 {padding-right:570px}
 .container .suffix7 {padding-right:665px}
 .container .suffix8 {padding-right:760px}
 .container .suffix9 {padding-right:855px}
 .container .suffix10 {padding-right:950px}
 .container .suffix11 {padding-right:1045px}

/* 960 Grid 
================================================== */ 
 
@media only screen and (min-width:768px) and (max-width:1140px){
 
 .container {position:relative; width:960px; margin:0 auto; padding:0}
 .row {margin-bottom:20px}

 .container .col1,  
 .container .col2,  
 .container .col3,  
 .container .col4,  
 .container .col5,  
 .container .col6,  
 .container .col7,  
 .container .col8,  
 .container .col9,  
 .container .col10,  
 .container .col11,  
 .container .col12 {float:left; display:inline; margin-left:10px; margin-right:10px}

 
 /* Nested col Classes */
 .alpha {margin-left:0}
 .omega {margin-right:0}
 
 /* Base Grid */
 .container .col1 {width:60px}
 .container .col2 {width:140px}
 .container .col3 {width:220px}
 .container .col4 {width:300px}
 .container .col5 {width:380px}
 .container .col6 {width:460px}
 .container .col7 {width:540px} 
 .container .col8 {width:620px}
 .container .col9 {width:700px}
 .container .col10 {width:780px} 
 .container .col11 {width:860px} 
 .container .col12 {width:940px}
 
 /* Push */
 .container .push_1 {left:80px}
 .container .push_2 {left:160px}
 .container .push_3 {left:240px}
 .container .push_4 {left:320px}
 .container .push_5 {left:400px}
 .container .push_6 {left:480px}
 .container .push_7 {left:560px}
 .container .push_8 {left:640px}
 .container .push_9 {left:720px}
 .container .push_10 {left:800px}
 .container .push_11 {left:880px}
 
 /* Pull */
 .container .push_1 {left:-80px}
 .container .push_2 {left:-160px}
 .container .push_3 {left:-240px}
 .container .push_4 {left:-320px}
 .container .push_5 {left:-400px}
 .container .push_6 {left:-480px}
 .container .push_7 {left:-560px}
 .container .push_8 {left:-640px}
 .container .push_9 {left:-720px}
 .container .push_10 {left:-800px}
 .container .push_11 {left:-880px}

 /* prefixs */ 
 .container .prefix1 {padding-left:80px}
 .container .prefix2 {padding-left:160px}
 .container .prefix3 {padding-left:240px}
 .container .prefix4 {padding-left:320px}
 .container .prefix5 {padding-left:400px}
 .container .prefix6 {padding-left:480px}
 .container .prefix7 {padding-left:560px}
 .container .prefix8 {padding-left:640px}
 .container .prefix9 {padding-left:720px}
 .container .prefix10 {padding-left:800px}
 .container .prefix11 {padding-left:880px}

 /* suffix */
 .container .suffix1 {padding-right:80px}
 .container .suffix2 {padding-right:160px}
 .container .suffix3 {padding-right:240px}
 .container .suffix4 {padding-right:320px}
 .container .suffix5 {padding-right:400px}
 .container .suffix6 {padding-right:480px}
 .container .suffix7 {padding-right:560px}
 .container .suffix8 {padding-right:640px}
 .container .suffix9 {padding-right:720px}
 .container .suffix10 {padding-right:800px}
 .container .suffix11 {padding-right:880px}} 
 
/* #Tablet (Portrait)
================================================== */ 
 
 /* Note:Design for a width of 768px */
 
 @media only screen and (min-width:768px) and (max-width:959px){
 .container {width:720px}
 .container .col {margin-left:10px; margin-right:10px}
 .alpha {margin-left:0; margin-right:10px}
 .omega {margin-right:0; margin-left:10px}
 
 .container .col1 {width:40px}
 .container .col2 {width:100px}
 .container .col3 {width:160px}
 .container .col4 {width:220px}
 .container .col5 {width:280px}
 .container .col6 {width:340px}
 .container .col7 {width:400px} 
 .container .col8 {width:460px}
 .container .col9 {width:520px}
 .container .col10 {width:580px} 
 .container .col11 {width:640px} 
 .container .col12 {width:700px}
 
 /* Push */
 .container .push_1 {left:60px}
 .container .push_2 {left:120px}
 .container .push_3 {left:180px}
 .container .push_4 {left:240px}
 .container .push_5 {left:300px}
 .container .push_6 {left:360px}
 .container .push_7 {left:420px}
 .container .push_8 {left:480px}
 .container .push_9 {left:540px}
 .container .push_10 {left:600px}
 .container .push_11 {left:660px}
 
 /* Pull */
 .container .push_1 {left:-60px}
 .container .push_2 {left:-120px}
 .container .push_3 {left:-180px}
 .container .push_4 {left:-240px}
 .container .push_5 {left:-300px}
 .container .push_6 {left:-360px}
 .container .push_7 {left:-420px}
 .container .push_8 {left:-480px}
 .container .push_9 {left:-540px}
 .container .push_10 {left:-600px}
 .container .push_11 {left:-660px}

 /* prefixs */ 
 .container .prefix1 {padding-left:60px}
 .container .prefix2 {padding-left:120px}
 .container .prefix3 {padding-left:180px}
 .container .prefix4 {padding-left:240px}
 .container .prefix5 {padding-left:300px}
 .container .prefix6 {padding-left:360px}
 .container .prefix7 {padding-left:420px}
 .container .prefix8 {padding-left:480px}
 .container .prefix9 {padding-left:540px}
 .container .prefix10 {padding-left:600px}
 .container .prefix11 {padding-left:660px}

 /* suffix */
 .container .suffix1 {padding-right:60px}
 .container .suffix2 {padding-right:120px}
 .container .suffix3 {padding-right:180px}
 .container .suffix4 {padding-right:240px}
 .container .suffix5 {padding-right:300px}
 .container .suffix6 {padding-right:360px}
 .container .suffix7 {padding-right:420px}
 .container .suffix8 {padding-right:480px}
 .container .suffix9 {padding-right:540px}
 .container .suffix10 {padding-right:600px}
 .container .suffix11 {padding-right:660px}
 }
/*  #Mobile (Portrait) 
================================================== */
 /* Note:Design for a width of 320px */
 
 @media only screen and (max-width:767px){
 .container {width:300px}
 .col {margin:0}
 
 .container .col1, 
 .container .col2, 
 .container .col3, 
 .container .col4, 
 .container .col5, 
 .container .col6, 
 .container .col7, 
 .container .col8, 
 .container .col9, 
 .container .col10, 
 .container .col11, 
 .container .col12 {width:300px}
 
 /* Push */
 .container .push_1,  
 .container .push_2,  
 .container .push_3,  
 .container .push_4,  
 .container .push_5,  
 .container .push_6,  
 .container .push_7,  
 .container .push_8,  
 .container .push_9,  
 .container .push_10,  
 .container .push_11 {left:0px}
 
 /* Pull */
 .container .push_1,  
 .container .push_2,  
 .container .push_3,  
 .container .push_4,  
 .container .push_5,  
 .container .push_6,  
 .container .push_7,  
 .container .push_8,  
 .container .push_9,  
 .container .push_10,  
 .container .push_11 {left:0px}

 /* prefixs */ 
 .container .prefix1,  
 .container .prefix2,  
 .container .prefix3,  
 .container .prefix4,  
 .container .prefix5,  
 .container .prefix6,  
 .container .prefix7,  
 .container .prefix8,  
 .container .prefix9,  
 .container .prefix10,  
 .container .prefix11,  
 .container .prefix12 {padding-left:0} 
 
 /* suffix */
 .container .suffix1,  
 .container .suffix2,  
 .container .suffix3,  
 .container .suffix4,  
 .container .suffix5,  
 .container .suffix6,  
 .container .suffix7,  
 .container .suffix8,  
 .container .suffix9,  
 .container .suffix10,  
 .container .suffix11,  
 .container .suffix12 {padding-right:0} 
 } 
/* #Mobile (Landscape)
================================================== */
 /* Note:Design for a width of 480px */
 
 @media only screen and (min-width:480px) and (max-width:767px){
 .container {width:420px}
 .col {margin:0}
 
 .container .col1, 
 .container .col2, 
 .container .col3, 
 .container .col4, 
 .container .col5, 
 .container .col6, 
 .container .col7, 
 .container .col8, 
 .container .col9, 
 .container .col10, 
 .container .col11, 
 .container .col12 {width:420px}

 /* Push */
 .container .push_1,  
 .container .push_2,  
 .container .push_3,  
 .container .push_4,  
 .container .push_5,  
 .container .push_6,  
 .container .push_7,  
 .container .push_8,  
 .container .push_9,  
 .container .push_10,  
 .container .push_11 {left:0px}
 
 /* Pull */
 .container .push_1,  
 .container .push_2,  
 .container .push_3,  
 .container .push_4,  
 .container .push_5,  
 .container .push_6,  
 .container .push_7,  
 .container .push_8,  
 .container .push_9,  
 .container .push_10,  
 .container .push_11 {left:0px}

 /* prefixs */ 
 .container .prefix1,  
 .container .prefix2,  
 .container .prefix3,  
 .container .prefix4,  
 .container .prefix5,  
 .container .prefix6,  
 .container .prefix7,  
 .container .prefix8,  
 .container .prefix9,  
 .container .prefix10,  
 .container .prefix11,  
 .container .prefix12 {padding-left:0} 
 
 /* suffix */
 .container .suffix1,  
 .container .suffix2,  
 .container .suffix3,  
 .container .suffix4,  
 .container .suffix5,  
 .container .suffix6,  
 .container .suffix7,  
 .container .suffix8,  
 .container .suffix9,  
 .container .suffix10,  
 .container .suffix11,  
 .container .suffix12 {padding-left:0} 
 }

/*
    // ========================================== \\
   ||               Your styles!                   ||
   ||               Go Go Garrett                  ||
   ||                                              ||
    \\ ========================================== //
*/


/* clear fix jargan! */
.clearfix:before, .clearfix:after{content:"\0020"; display:block; height:0; overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{
 *{background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; 
 -ms-filter:none !important}
 a, a:visited{color:#444 !important; text-decoration:underline}
 a[href]:after{content:"("attr(href) ")"}
 abbr[title]:after{content:"("attr(title) ")"}
 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:""} 
 pre, blockquote{border:1px solid #999; page-break-inside:avoid}
 thead{display:table-header-group}
 tr, img{page-break-inside:avoid}
 @page{margin:0.5cm}
 p, h2, h3{orphans:3; widows:3}
 h2, h3{page-break-after:avoid}}
