html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{
  margin:0; 
  padding:0; 
  border:0; 
  font-size:100%; 
  font:inherit; 
  vertical-align:baseline}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display:block}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, 
q:before, q:after{content:''; content:none}
ins{background-color:#ff9; color:#000; text-decoration:none}
mark{background-color:#ff9; color:#000; font-style:italic; font-weight:bold}
del{text-decoration:line-through}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help}
table{border-collapse:collapse; border-spacing:0}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}
input, select{vertical-align:middle}
body{font:13px/1.231 sans-serif; *font-size:small}
select, input, textarea, button{font:99% sans-serif}
pre, code, kbd, samp{font-family:monospace,sans-serif}
html{overflow-y:scroll}
a:hover, a:active{outline:none}
ul, ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul, nav li{margin:0; list-style:none; list-style-image:none}
small{font-size:85%}
strong, th{font-weight:bold}
td{vertical-align:top}
sub, sup{font-size:75%; line-height:0; position:relative}
sup{top:-0.5em}
sub{bottom:-0.25em}
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px}
textarea{overflow:auto}
.ie6 legend, .ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label, input[type="button"], input[type="submit"], input[type="image"], button{cursor:pointer}
button, input, select, textarea{margin:0}
input:valid, textarea:valid {}
input:invalid, textarea:invalid{border-radius:1px; -moz-box-shadow:0px 0px 5px red; -webkit-box-shadow:0px 0px 5px red; box-shadow:0px 0px 5px red}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#FF5E99; color:#fff; text-shadow:none}::selection{background:#FF5E99; color:#fff; text-shadow:none}
a:link{-webkit-tap-highlight-color:#FF5E99}
button{ width:auto; overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
body, select, input, textarea{ color:#444}
a, a:active, a:visited{color:#607890}
a:hover{color:#036}

/* 960 Default
 ***********************************/
.container        {padding-left: 20px;padding-right: 20px;}
.row              {width: 960px;margin: 0 auto;overflow: hidden;}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol        {margin-right:10px;margin-left:10px;float: left;min-height: 1px;}

.row .onecol      {width: 60px;}
.row .twocol      {width: 140px;}
.row .threecol    {width: 220px;}
.row .fourcol     {width: 300px;}
.row .fivecol     {width: 380px;}
.row .sixcol      {width: 460px;} 
.row .sevencol    {width: 540px;}
.row .eightcol    {width: 620px;}
.row .ninecol     {width: 700px;}
.row .tencol      {width: 780px;}
.row .elevencol   {width: 860px;}
.row .twelvecol   {width: 940px;float: left;}

.last             {margin-right: 0px;}


/* 1140px #Big Screens
 ***********************************/
@media only screen and (min-width:1200px){
    .container      {padding-left: 20px;padding-right: 20px;}
    .row            {width: 1140px;margin: 0 auto;overflow: hidden;}
    .onecol,
    .twocol,
    .threecol,
    .fourcol,
    .fivecol,
    .sixcol,
    .sevencol,
    .eightcol,
    .ninecol,
    .tencol,
    .elevencol      {margin-right:10px;margin-left:10px;float: left;min-height: 1px;}

    .row .onecol    {width: 75px;}
    .row .twocol    {width: 170px;}
    .row .threecol  {width: 265px;}
    .row .fourcol   {width: 360px;}
    .row .fivecol   {width: 455px;}
    .row .sixcol    {width: 550px;} 
    .row .sevencol  {width: 645px;}
    .row .eightcol  {width: 740px;}
    .row .ninecol   {width: 835px;}
    .row .tencol    {width: 930px;}
    .row .elevencol {width: 1025px;}
    .row .twelvecol {width: 1120px;float: left;}

    .last           {margin-right: 0px;}

}

/* 768px #Tablet Portrait
 ***********************************/
@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .container      {padding-left: 20px;padding-right: 20px;}
    .row            {width: 768px;margin: 0 auto;overflow: hidden;}
    .onecol,
    .twocol,
    .threecol,
    .fourcol,
    .fivecol,
    .sixcol,
    .sevencol,
    .eightcol,
    .ninecol,
    .tencol,
    .elevencol      {margin-right:10px;margin-left:10px;float: left;min-height: 1px;}

    .row .onecol    {width: 44px;}
    .row .twocol    {width: 108px;}
    .row .threecol  {width: 172px;}
    .row .fourcol   {width: 236px;}
    .row .fivecol   {width: 300px;}
    .row .sixcol    {width: 364px;}
    .row .sevencol  {width: 428px;} 
    .row .eightcol  {width: 492px;}
    .row .ninecol   {width: 556px;}
    .row .tencol    {width: 620px;}
    .row .elevencol {width: 684px;}
    .row .twelvecol {width: 748px;float: left;}

    .last           {margin-right: 0px;}

}


/* 320px #Mobile Portrait
 ***********************************/
@media only screen and (max-width: 767px) {    

    .row, body, .container {
      width: 100%;
      min-width: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
	}

	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
	}

}


/* 480px #Mobile Landscape
 ***********************************/
@media only screen and (min-width: 480px) and (max-width: 810px) {  

    .row, body, .container {
      width: 100%;
      min-width: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
	}

}

/*
=   Your Styles 
====================================*/



/* 
=  Clearfix Jargan
===========================*/
.clearfix:before, .clearfix:after{content:"\0020"; display:block; height:0; overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{
 *{background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; 
 -ms-filter:none !important}
 a, a:visited{color:#444 !important; text-decoration:underline}
 a[href]:after{content:"("attr(href) ")"}
 abbr[title]:after{content:"("attr(title) ")"}
 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:""} 
 pre, blockquote{border:1px solid #999; page-break-inside:avoid}
 thead{display:table-header-group}
 tr, img{page-break-inside:avoid}
 @page{margin:0.5cm}
 p, h2, h3{orphans:3; widows:3}
 h2, h3{page-break-after:avoid}}

