html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{
  margin:0; 
  padding:0; 
  border:0; 
  font-size:100%; 
  font:inherit; 
  vertical-align:baseline}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display:block}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, 
q:before, q:after{content:''; content:none}
ins{background-color:#ff9; color:#000; text-decoration:none}
mark{background-color:#ff9; color:#000; font-style:italic; font-weight:bold}
del{text-decoration:line-through}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help}
table{border-collapse:collapse; border-spacing:0}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}
input, select{vertical-align:middle}
body{font:13px/1.231 sans-serif; *font-size:small}
select, input, textarea, button{font:99% sans-serif}
pre, code, kbd, samp{font-family:monospace,sans-serif}
html{overflow-y:scroll}
a:hover, a:active{outline:none}
ul, ol{margin-left:0em}
ol{list-style-type:decimal}
nav ul, nav li{margin:0; list-style:none; list-style-image:none}
small{font-size:85%}
strong, th{font-weight:bold}
td{vertical-align:top}
sub, sup{font-size:75%; line-height:0; position:relative}
sup{top:-0.5em}
sub{bottom:-0.25em}
pre{white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px}
textarea{overflow:auto}
.ie6 legend, .ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label, input[type="button"], input[type="submit"], input[type="image"], button{cursor:pointer}
button, input, select, textarea{margin:0}
input:valid, textarea:valid {}
input:invalid, textarea:invalid{border-radius:1px; -moz-box-shadow:0px 0px 5px red; -webkit-box-shadow:0px 0px 5px red; box-shadow:0px 0px 5px red}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#FF5E99; color:#fff; text-shadow:none}::selection{background:#FF5E99; color:#fff; text-shadow:none}
a:link{-webkit-tap-highlight-color:#FF5E99}
button{ width:auto; overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
body, select, input, textarea{ color:#444}
a, a:active, a:visited{color:#607890}
a:hover{color:#036}
iframe, img {max-width: 100%;}

/*===============================
=   960 Default
================================*/
.container          {padding-left:20px;padding-right:20px;}
.row                {width:960px;margin: 0 auto;overflow:hidden;margin-bottom:50px}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12              {margin-right:10px;margin-left:10px;float:left;min-height:1px;}

.push1, .pull1,      
.push2, .pull2,       
.push3, .pull3,     
.push4, .pull4,      
.push5, .pull5,      
.push6, .pull6,       
.push7, .pull7,      
.push8, .pull8,     
.push9, .pull9,      
.push10,.pull10,       
.push11,.pull11,
.push12,.pull12     {position:relative}

/*
= Width of columns
====================*/
.row .col1          {width: 60px;}
.row .col2          {width: 140px;}
.row .col3          {width: 220px;}
.row .col4          {width: 300px;}
.row .col5          {width: 380px;}
.row .col6          {width: 460px;} 
.row .col7          {width: 540px;}
.row .col8          {width: 620px;}
.row .col9          {width: 700px;}
.row .col10         {width: 780px;}
.row .col11         {width: 860px;}
.row .col12         {width: 940px;float:left;}

/*
= Prefix Extra Space
===========================*/
.row .prefix1       {padding-left:80px;}
.row .prefix2       {padding-left:160px;}
.row .prefix3       {padding-left:240px;}
.row .prefix4       {padding-left:320px;}
.row .prefix5       {padding-left:400px;}
.row .prefix6       {padding-left:480px;}
.row .prefix7       {padding-left:560px;}
.row .prefix8       {padding-left:640px;}
.row .prefix9       {padding-left:720px;}
.row .prefix10      {padding-left:800px;}
.row .prefix11      {padding-left:880px;}

/*
= Suffix Extra Space
==========================*/

.row .suffix1       {padding-right:80px;}
.row .suffix2       {padding-right:160px;}
.row .suffix3       {padding-right:240px;}
.row .suffix4       {padding-right:320px;}
.row .suffix5       {padding-right:400px;}
.row .suffix6       {padding-right:480px;}
.row .suffix7       {padding-right:560px;}
.row .suffix8       {padding-right:640px;}
.row .suffix9       {padding-right:720px;}
.row .suffix10      {padding-right:800px;}
.row .suffix11      {padding-right:880px;}

/*
= Push Extra Space
==========================*/

.row .push1         {left:80px;} 
.row .push2         {left:160px;}
.row .push3         {left:240px;}
.row .push4         {left:320px;}
.row .push5         {left:400px;}
.row .push6         {left:480px;}
.row .push7         {left:560px;}
.row .push8         {left:640px;}
.row .push9         {left:720px;}
.row .push10        {left:800px;}
.row .push11        {left:880px;}

/*
= Pull Extra Space
==========================*/

.row .pull1         {left:-80px;} 
.row .pull2         {left:-160px;}
.row .pull3         {left:-240px;}
.row .pull4         {left:-320px;}
.row .pull5         {left:-400px;}
.row .pull6         {left:-480px;}
.row .pull7         {left:-560px;}
.row .pull8         {left:-640px;}
.row .pull9         {left:-720px;}
.row .pull10        {left:-800px;}
.row .pull11        {left:-880px;}

.last               {margin-right:0px;}
.alpha              {margin-left:0;}
.omega              {margin-right:0;}
.bottom             {margin-bottom:0 !important;}

/*===============================
=   1140px #Big Screens
================================*/
@media only screen and (min-width:1180px){
    .container      {padding-left:20px;padding-right:20px;}
    .row            {width:1140px;margin: 0 auto;overflow:hidden;margin-bottom:50px;}
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12          {margin-right:10px;margin-left:10px;float: left;min-height: 1px;}

    .row .col1      {width: 75px;}
    .row .col2      {width: 170px;}
    .row .col3      {width: 265px;}
    .row .col4      {width: 360px;}
    .row .col5      {width: 455px;}
    .row .col6      {width: 550px;} 
    .row .col7      {width: 645px;}
    .row .col8      {width: 740px;}
    .row .col9      {width: 835px;}
    .row .col10     {width: 930px;}
    .row .col11     {width: 1025px;}
    .row .col12     {width: 1120px;float: left;}

    /*
    = Prefix Extra Space
    ===========================*/
    .row .prefix1   {padding-left:95px;}
    .row .prefix2   {padding-left:190px;}
    .row .prefix3   {padding-left:285px;}
    .row .prefix4   {padding-left:380px;}
    .row .prefix5   {padding-left:475px;}
    .row .prefix6   {padding-left:570px;}
    .row .prefix7   {padding-left:665px;}
    .row .prefix8   {padding-left:780px;}
    .row .prefix9   {padding-left:855px;}
    .row .prefix10  {padding-left:950px;}
    .row .prefix11  {padding-left:1045px;}

    /*
    = Suffix Extra Space
    ==========================*/

    .row .suffix1   {padding-right:95px;}
    .row .suffix2   {padding-right:190px;}
    .row .suffix3   {padding-right:285px;}
    .row .suffix4   {padding-right:380px;}
    .row .suffix5   {padding-right:475px;}
    .row .suffix6   {padding-right:570px;}
    .row .suffix7   {padding-right:665px;}
    .row .suffix8   {padding-right:780px;}
    .row .suffix9   {padding-right:855px;}
    .row .suffix10  {padding-right:950px;}
    .row .suffix11  {padding-right:1045px;}

    /*
    = Push Extra Space
    ==========================*/

    .row .push1     {left:95px;} 
    .row .push2     {left:190px;}
    .row .push3     {left:285px;}
    .row .push4     {left:380px;}
    .row .push5     {left:475px;}
    .row .push6     {left:570px;}
    .row .push7     {left:665px;}
    .row .push8     {left:760px;}
    .row .push9     {left:855px;}
    .row .push10    {left:950px;}
    .row .push11    {left:1045px;}

    /*
    = Pull Extra Space
    ==========================*/

    .row .pull1     {left:-95px;} 
    .row .pull2     {left:-190px;}
    .row .pull3     {left:-285px;}
    .row .pull4     {left:-380px;}
    .row .pull5     {left:-475px;}
    .row .pull6     {left:-570px;}
    .row .pull7     {left:-665px;}
    .row .pull8     {left:-760px;}
    .row .pull9     {left:-855px;}
    .row .pull10    {left:-950px;}
    .row .pull11    {left:-1045px;}

    .last           {margin-right:0px;}
    .alpha          {margin-left:0px;}
    .omega          {margin-right:0px;}

}

/*===============================
=   768px #Tablet Portrait
================================*/
@media only screen and (min-width: 808px) and (max-width: 1000px) {
    .container      {padding-left:20px;padding-right:20px;}
    .row            {width: 768px;margin: 0 auto;overflow:hidden;margin-bottom:50px}
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12          {margin-right:10px;margin-left:10px;float: left;min-height: 1px;}

    .row .col1      {width: 44px;}
    .row .col2      {width: 108px;}
    .row .col3      {width: 172px;}
    .row .col4      {width: 236px;}
    .row .col5      {width: 300px;}
    .row .col6      {width: 364px;}
    .row .col7      {width: 428px;} 
    .row .col8      {width: 492px;}
    .row .col9      {width: 556px;}
    .row .col10     {width: 620px;}
    .row .col11     {width: 684px;}
    .row .col12     {width: 748px;float: left;}

    /*
    = Prefix Extra Space
    ===========================*/
    .row .prefix1   {padding-left:64px;}
    .row .prefix2   {padding-left:118px;}
    .row .prefix3   {padding-left:192px;}
    .row .prefix4   {padding-left:256px;}
    .row .prefix5   {padding-left:320px;}
    .row .prefix6   {padding-left:384px;}
    .row .prefix7   {padding-left:448px;}
    .row .prefix8   {padding-left:512px;}
    .row .prefix9   {padding-left:576px;}
    .row .prefix10  {padding-left:640px;}
    .row .prefix11  {padding-left:768px;}

    /*
    = Suffix Extra Space
    ==========================*/

    .row .suffix1   {padding-right:64px;}  
    .row .suffix2   {padding-right:118px;}
    .row .suffix3   {padding-right:192px;}
    .row .suffix4   {padding-right:256px;}
    .row .suffix5   {padding-right:320px;}
    .row .suffix6   {padding-right:384px;}
    .row .suffix7   {padding-right:448px;}
    .row .suffix8   {padding-right:512px;}
    .row .suffix9   {padding-right:576px;}
    .row .suffix10  {padding-right:640px;}
    .row .suffix11  {padding-right:768px;}

    /*
    = Push Extra Space
    ==========================*/

    .row .push1     {left:64px;} 
    .row .push2     {left:128px;}
    .row .push3     {left:192px;}
    .row .push4     {left:256px;}
    .row .push5     {left:320px;}
    .row .push6     {left:384px;}
    .row .push7     {left:448px;}
    .row .push8     {left:512px;}
    .row .push9     {left:576px;}
    .row .push10    {left:640px;}
    .row .push11    {left:704px;}

    /*
    = Pull Extra Space
    ==========================*/

    .row .pull1     {left:-64px;} 
    .row .pull2     {left:-128px;}
    .row .pull3     {left:-192px;}
    .row .pull4     {left:-256px;}
    .row .pull5     {left:-320px;}
    .row .pull6     {left:-384px;}
    .row .pull7     {left:-448px;}
    .row .pull8     {left:-512px;}
    .row .pull9     {left:-576px;}
    .row .pull10    {left:-640px;}
    .row .pull11    {left:-704px;}

    .last           {margin-right: 0px;}
    .alpha          {margin-left:0px;}
    .omega          {margin-right:0px;}

}

/*===============================
=   480px #Mobile Landscape
================================*/
@media only screen and (min-width: 480px) and (max-width: 808px) {
    
    .row, body, .container {
      min-width: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
	}
    .alpha          {margin-left:0px;}
    .omega          {margin-right:0px;}

    .row            {width:480px;}
	
	.row .col1, 
    .row .col2, 
    .row .col3, 
    .row .col4, 
    .row .col5, 
    .row .col6, 
    .row .col7,
    .row .col8,
    .row .col9,
    .row .col10,
    .row .col11,
    .row .col12 {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
	}

    .row .prefix1,   
    .row .prefix2,   
    .row .prefix3,   
    .row .prefix4,   
    .row .prefix5,   
    .row .prefix6,   
    .row .prefix7,   
    .row .prefix8,   
    .row .prefix9,   
    .row .prefix10,  
    .row .prefix11,  
    .row .suffix1,  
    .row .suffix2,  
    .row .suffix3,   
    .row .suffix4,   
    .row .suffix5,   
    .row .suffix6,   
    .row .suffix7,   
    .row .suffix8,   
    .row .suffix9,   
    .row .suffix10,  
    .row .suffix11  {padding-right:20px;padding-left:20px}

    .row .push2,       
    .row .push3,     
    .row .push4,      
    .row .push5,      
    .row .push6,      
    .row .push7,     
    .row .push8,     
    .row .push9,     
    .row .push10,       
    .row .push11,    
    .row .pull1,       
    .row .pull2,       
    .row .pull3,     
    .row .pull4,      
    .row .pull5,      
    .row .pull6,       
    .row .pull7,     
    .row .pull8,     
    .row .pull9,      
    .row .pull10,       
    .row .pull11    {left:0px;}
}

/*===============================
=   320px #Mobile Portrait
================================*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    .row, body, .container {
      min-width: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }
    .alpha          {margin-left:0px;}
    .omega          {margin-right:0px;}
    .row            {width:320px;}

    .row .col1,
    .row .col2,
    .row .col3,
    .row .col4,
    .row .col5,
    .row .col6,
    .row .col7,
    .row .col8,
    .row .col9,
    .row .col10,
    .row .col11, 
    .row .col12 {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .row .prefix1,   
    .row .prefix2,   
    .row .prefix3,   
    .row .prefix4,   
    .row .prefix5,   
    .row .prefix6,   
    .row .prefix7,   
    .row .prefix8,   
    .row .prefix9,   
    .row .prefix10,  
    .row .prefix12,  
    .row .suffix1,  
    .row .suffix2,  
    .row .suffix3,   
    .row .suffix4,   
    .row .suffix5,   
    .row .suffix6,   
    .row .suffix7,   
    .row .suffix8,   
    .row .suffix9,   
    .row .suffix10,  
    .row .suffix11  {padding-right:20px;padding-left:20px}

    .row .push2,       
    .row .push3,     
    .row .push4,      
    .row .push5,      
    .row .push6,      
    .row .push7,     
    .row .push8,     
    .row .push9,     
    .row .push10,       
    .row .push11,    
    .row .pull1,       
    .row .pull2,       
    .row .pull3,     
    .row .pull4,      
    .row .pull5,      
    .row .pull6,       
    .row .pull7,     
    .row .pull8,     
    .row .pull9,      
    .row .pull10,       
    .row .pull11    {left:0px;}
}


/*===============================
=
=   Your styles here!
=
================================*/

a {
    color: #e9752a;
}

body {
  background: url(../images/bg.jpg);
}

#headerwrapper {
  background: url(../images/headerbg.jpg) repeat-x;
  height: 172px;
}

#logo img {
    max-width: 100%;
    padding-top: 36px;
}

#logo {
    height: 137px;
    line-height: 137px;
}

#main .row {
    padding-top: 50px;
}

h1 {
    color: #222;
    font-size: 72px;
    font-family: octin-college,sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    background: url(../images/body_stripes.png) top left repeat-x;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.h1_wrap {
    background: url(../images/body_stripes.png) bottom left repeat-x;
}

h2 {
    font-family: octin-vintage;
    font-size: 23px;
    padding: 20px 0 10px 0;
    text-transform: capitalize;
}

#main .img_wrap {
    border-bottom: 4px solid #e9752a;
    border-right: 4px solid #e9752a;
    position: relative;
    left: 9px;
    margin-top: 60px;
}

#main .img_wrap img {
    position: relative;
    top: -3px;
    left: -6px;
}

#main .image {
   overflow: show; 
}

#download {
    background: url(../images/ribbon_thin.png) center no-repeat;
    color: #222;
}
#download .row {
    padding-bottom: 0;
}

#download a {
    color: #222;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

#download_link {
    background: url(../images/download_button.png) center no-repeat;
    height: 82px;
    padding-top:14px;
    letter-spacing: 1px;
}

.taunt {
    font-family: octin-vintage;
    text-align: center;
    height: 97px;
    line-height: 97px;
    font-size: 23px;
    color: #333;
    color: #222;
    text-shadow: -2px 0 #e1d2af, 0 2px #e1d2af, 2px 0 #e1d2af, 0 -2px #e1d2af;
}

#download_link  {
    font-family: octin-college,sans-serif;
    font-size: 23px;
    text-shadow: -2px 0 #e1d2af, 0 1px #e1d2af; 
}

#download_link  span {
    display: block;
    font-size: 31px;
}

#demo_grid {
    margin-top: 60px;
}

#demo_grid .row div div {
    height: 46px;
    border: 2px solid #e9752a;
    background: url(../images/repeating_stripes_body.png) top left repeat;
    text-align: center;
    color: #575653;
    line-height: 46px;
    font-weight: bold;
    font-size: 14px;
    text-shadow: -3px 0 #e1d2af, 0 3px #e1d2af, 3px 0 #e1d2af, 0 -3px #e1d2af;
}

#footerwrap {
    height: 140px;
    padding-top: 30px;
    background: url(../images/footer_bg.jpg) top left repeat-x;
    margin-top: 80px;
}

footer p#credit {
    color: #e1d2af;
    font-family: octin-vintage;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 20px;
}


/*===============================
=   1140px #Big Screens
================================*/
@media only screen and (min-width:1200px){

    .h1_wrap h1 {
        font-size: 77px;
    }
}

/*===============================
=   768px #Tablet Portrait
================================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #logo {
        margin-top: 15px;
    }
    .h1_wrap h1 {
        font-size: 57px;
    }
}

/*===============================
=   320px #Mobile Portrait
================================*/
@media only screen and (max-width: 767px) {
    #logo { margin-top:16px}
    .h1_wrap h1 {
        font-size: 37px;
        padding-top: 31px;
        padding-bottom: 27px;
    }
}

/*===============================
=   480px #Mobile Landscape
================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #logo {margin-top:0px}
    .h1_wrap h1 {
        font-size: 59px;
        padding-bottom:23px;
        padding-top: 31px;
    }
}


/*===============================
=   clear fix jargan 
=   print styles
=================================*/
.clearfix:before, .clearfix:after{content:"\0020"; display:block; height:0; overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@media print{
 *{background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; 
 -ms-filter:none !important}
 a, a:visited{color:#444 !important; text-decoration:underline}
 a[href]:after{content:"("attr(href) ")"}
 abbr[title]:after{content:"("attr(title) ")"}
 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:""} 
 pre, blockquote{border:1px solid #999; page-break-inside:avoid}
 thead{display:table-header-group}
 tr, img{page-break-inside:avoid}
 @page{margin:0.5cm}
 p, h2, h3{orphans:3; widows:3}
 h2, h3{page-break-after:avoid}}
